In [56]:
import pandas as pd
from datetime import datetime

In [57]:
deaths = pd.read_csv('https://github.com/reichlab/covid19-forecast-hub/raw/master/data-truth/truth-Incident%20Deaths.csv')
cases = pd.read_csv('https://github.com/reichlab/covid19-forecast-hub/raw/master/data-truth/truth-Incident%20Cases.csv')

/Users/abdulhannan/anaconda3/envs/covid19-forecast/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [58]:
deaths['date'] = pd.to_datetime(deaths.date, infer_datetime_format=True)
cases['date'] = pd.to_datetime(cases.date, infer_datetime_format=True)

In [59]:
deaths

              date location      location_name  value
0       2020-01-23       01            Alabama      0
1       2020-01-23       02             Alaska      0
2       2020-01-23       60     American Samoa      0
3       2020-01-23       04            Arizona      0
4       2020-01-23       05           Arkansas      0
...            ...      ...                ...    ...
1224829 2021-02-08    56037  Sweetwater County      0
1224830 2021-02-08    56039       Teton County      0
1224831 2021-02-08    56041       Uinta County      0
1224832 2021-02-08    56043    Washakie County      0
1224833 2021-02-08    56045      Weston County      0

[1224834 rows x 4 columns]

In [60]:
deaths = deaths.merge(locations, how='left', on=['location', 'location_name'])
cases = cases.merge(locations, how='left', on=['location', 'location_name'])

In [61]:
locations = pd.read_csv('https://github.com/reichlab/covid19-forecast-hub/raw/master/data-locations/locations.csv')

In [62]:
cases

              date location      location_name  value abbreviation  population
0       2020-01-24       01            Alabama      0           AL   4903185.0
1       2020-01-24       02             Alaska      0           AK    731545.0
2       2020-01-24       60     American Samoa      0           AS     55641.0
3       2020-01-24       04            Arizona      0           AZ   7278717.0
4       2020-01-24       05           Arkansas      0           AR   3017804.0
...            ...      ...                ...    ...          ...         ...
1221631 2021-02-08    56037  Sweetwater County     24          NaN         NaN
1221632 2021-02-08    56039       Teton County     19          NaN         NaN
1221633 2021-02-08    56041       Uinta County      5          NaN         NaN
1221634 2021-02-08    56043    Washakie County      0          NaN         NaN
1221635 2021-02-08    56045      Weston County      2          NaN         NaN

[1221636 rows x 6 columns]

In [63]:
from_date = '2021-01-24T00:00:00-05:00'

In [64]:
cases.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1221636 entries, 0 to 1221635
Data columns (total 6 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   date           1221636 non-null  datetime64[ns]
 1   location       1221636 non-null  object
 2   location_name  1221636 non-null  object
 3   value          1221636 non-null  int64
 4   abbreviation   21774 non-null    object
 5   population     131072 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(3)
memory usage: 65.2+ MB

In [65]:
from dateutil import parser

In [69]:
date_t = parser.parse("2021-01-22T00:00:00-05:00").date()

In [76]:
cases.loc[(cases['location_name'] == 'Massachusetts') & (cases['date'] == date_t.strftime('%Y-%m-%d'))]['value'].sum()

5272